<a href="https://colab.research.google.com/github/code-with-trupti/TruptiPatil/blob/main/Hotel_Booking_Analysis_Demo_Project_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name**    - **Hote Booking Analysis**

##### **Project Type**    - EDA
##### **Contribution**    - Individual

# **Project Summary -**


The given dataset is of hotel booking. I explored and analyzed the given dataset and discovered some important factors regarding hotel booking. For this, I first read the given data in my collab notebook and then understand the whole data like what are variables in the given data. After that cleaned the data frame in data wrangling. For that I used some functions like drop(), fillna(), isna()/isnull() functions. Then I added some columns which are required in the analysis and removed some columns which are not required. Using this data frame I explored some variables using visualization charts like pie charts, count plots, barplot, and heatmaps and I can find out some insights which are important factors. From these insights, I can suggest some business objectives to clients.

   This data set contains booking information for a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things. All personally identifying information has been removed from the data.

# **GitHub Link -**

https://github.com/code-with-trupti/TruptiPatil/blob/main/Hotel_Booking_Analysis_Demo_Project_.ipynb

# **Problem Statement**

The given dataset is of hotel booking. I explored and analyzed the given dataset and discovered some important factors regarding hotel booking. For this, I first read the given data in my collab notebook and then understand the whole data like what are variables in the given data. After that cleaned the data frame in data wrangling. For that I used some functions like drop(), fillna(), isna()/isnull() functions. Then I added some columns which are required in the analysis and removed some columns which are not required. Using this data frame I explored some variables using visualization charts like pie charts, count plots, barplot, and heatmaps and I can find out some insights which are important factors. From these insights, I can suggest some business objectives to clients.

#### **Define Your Business Objective?**

Analyse the data on Hotel Booking and discover the different factors which affects the booking

# **General Guidelines** : -

1.   Well-structured, formatted, and commented code is required.
2.   Exception Handling, Production Grade Code & Deployment Ready Code will be a plus. Those students will be awarded some additional credits.
     
     The additional credits will have advantages over other students during Star Student selection.
       
             [ Note: - Deployment Ready Code is defined as, the whole .ipynb notebook should be executable in one go
                       without a single error logged. ]

3.   Each and every logic should have proper comments.
4. You may add as many number of charts you want. Make Sure for each and every chart the following format should be answered.
        

```
# Chart visualization code
```
            

*   Why did you pick the specific chart?
*   What is/are the insight(s) found from the chart?
* Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

5. You have to create at least 20 logical & meaningful charts having important insights.


[ Hints : - Do the Vizualization in  a structured way while following "UBM" Rule.

U - Univariate Analysis,

B - Bivariate Analysis (Numerical - Categorical, Numerical - Numerical, Categorical - Categorical)

M - Multivariate Analysis
 ]

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [3]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import  seaborn as sns

### Dataset Loading

In [4]:
# Load Dataset
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Dataset First View

In [5]:
# Dataset First Look
filepath = "/content/Hotel Bookings.csv"
df = pd.read_csv(filepath)
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51385,City Hotel,1,316,2016,May,21,19,0,2,2,...,Non Refund,1.0,NaN,0,Transient,62.0,0.0,0.0,Canceled,2015-10-22
51386,City Hotel,1,316,2016,May,21,19,0,2,2,...,Non Refund,1.0,NaN,0,Transient,62.0,0.0,0.0,Canceled,2015-10-22
51387,City Hotel,1,28,2016,May,21,19,0,2,1,...,No Deposit,NaN,174.0,0,Transient-Party,95.0,0.0,0.0,Canceled,2016-05-04
51388,City Hotel,1,316,2016,May,21,19,0,2,2,...,Non Refund,1.0,NaN,0,Transient,62.0,0.0,0.0,Canceled,2015-10-22
51389,City Hotel,1,316,2016,May,21,19,0,2,2,...,Non Refund,1.0,NaN,0,Transient,62.0,NaN,NaN,NaN,NaN

In [6]:
df.head(2)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01

In [7]:
df.tail(2)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
51388,City Hotel,1,316,2016,May,21,19,0,2,2,...,Non Refund,1.0,NaN,0,Transient,62.0,0.0,0.0,Canceled,2015-10-22
51389,City Hotel,1,316,2016,May,21,19,0,2,2,...,Non Refund,1.0,NaN,0,Transient,62.0,NaN,NaN,NaN,NaN

### Dataset Rows & Columns count

In [8]:
# Dataset Rows & Columns code
df.shape

(51390, 32)

### Dataset Information

In [9]:
# Dataset Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51390 entries, 0 to 51389
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           51390 non-null  object
 1   is_canceled                     51390 non-null  int64
 2   lead_time                       51390 non-null  int64
 3   arrival_date_year               51390 non-null  int64
 4   arrival_date_month              51390 non-null  object
 5   arrival_date_week_number        51390 non-null  int64
 6   arrival_date_day_of_month       51390 non-null  int64
 7   stays_in_weekend_nights         51390 non-null  int64
 8   stays_in_week_nights            51390 non-null  int64
 9   adults                          51390 non-null  int64
 10  children                        51386 non-null  float64
 11  babies                          51390 non-null  int64
 12  meal                            51390 non-null  object
 13  country                         50912 non-null  object
 14  market_segment                  51390 non-null  object
 15  distribution_channel            51390 non-null  object
 16  is_repeated_guest               51390 non-null  int64
 17  previous_cancellations          51390 non-null  int64
 18  previous_bookings_not_canceled  51390 non-null  int64
 19  reserved_room_type              51390 non-null  object
 20  assigned_room_type              51390 non-null  object
 21  booking_changes                 51390 non-null  int64
 22  deposit_type                    51390 non-null  object
 23  agent                           42526 non-null  float64
 24  company                         3359 non-null   float64
 25  days_in_waiting_list            51390 non-null  int64
 26  customer_type                   51390 non-null  object
 27  adr                             51390 non-null  float64
 28  required_car_parking_spaces     51389 non-null  float64
 29  total_of_special_requests       51389 non-null  float64
 30  reservation_status              51389 non-null  object
 31  reservation_status_date         51389 non-null  object
dtypes: float64(6), int64(14), object(12)
memory usage: 12.5+ MB

In [10]:
def calculate_yearly_mean(df):
    yearly_mean = df.groupby('arrival_date_year').mean().head()
    return yearly_mean

# Assuming you have your DataFrame 'df' loaded already
result = calculate_yearly_mean(df)
print(result)

                   is_canceled  lead_time  arrival_date_week_number  \
arrival_date_year
2015                  0.295809  75.396048                 39.177513
2016                  0.373300  94.390423                 24.658056
2017                  0.307611  99.389559                 18.504287

                   arrival_date_day_of_month  stays_in_weekend_nights  \
arrival_date_year
2015                               15.682112                 1.028279
2016                               15.879716                 1.074779
2017                               15.769406                 1.253585

                   stays_in_week_nights    adults  children    babies  \
arrival_date_year
2015                           2.741874  1.866235  0.077704  0.011789
2016                           2.843219  1.850569  0.108982  0.012364
2017                           3.277411  1.860915  0.168146  0.011382

                   is_repeated_guest  previous_cancellations  \
arrival_date_year
2015                        0.009131                0.248245
2016                        0.036667                0.013129
2017                        0.059261                0.009333

                   previous_bookings_not_canceled  booking_changes  \
arrival_date_year
2015                                     0.021533         0.205315
2016                                     0.119307         0.264531
2017                                     0.208134         0.313681

                        agent     company  days_in_waiting_list         adr  \
arrival_date_year
2015               111.914856  187.053030              3.362794   89.004207
2016               165.820667  220.388017              3.365483   88.896445
2017               231.998971  276.687318              0.296912  108.660217

                   required_car_parking_spaces  total_of_special_requests
arrival_date_year
2015                                  0.084702                   0.510937
2016                                  0.115827                   0.481793
2017                                  0.129448                   0.731467

<ipython-input-10-db5c2d82c31c>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  yearly_mean = df.groupby('arrival_date_year').mean().head()

In [11]:
# Sort values
df.sort_values('total_of_special_requests', ascending=False).head(2)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
11125,Resort Hotel,0,108,2017,April,16,21,4,7,2,...,No Deposit,NaN,NaN,0,Transient,85.0,0.0,5.0,Check-Out,2017-05-02
32267,Resort Hotel,0,84,2017,January,3,18,0,2,2,...,No Deposit,240.0,NaN,0,Transient,100.5,0.0,5.0,Check-Out,2017-01-20

#### Duplicate Values

In [ ]:
# Dataset Duplicate Value Count
dublicate_count = df.dublicate_count

In [ ]:
# Drop duplicates

#### Missing Values/Null Values

In [ ]:
# Missing Values/Null Values Count

### What did you know about your dataset?

## ***2. Understanding Your Variables***

In [ ]:
# Dataset Column

In [ ]:
# Dataset Describe

### Variables Description

### Check Unique Values for each variable.

In [ ]:
# Check Unique Values for each variable

## 3. ***Data Wrangling***

### Data Wrangling Code

In [ ]:
# Write your code to make your dataset analysis ready.

### What all manipulations have you done and insights you found?

## ***4. Data Vizualization, Storytelling & Experimenting with charts : Understand the relationships between variables***

#### Chart - 1

In [ ]:
# Chart - 1 visualization code

##### 1. Why did you pick the specific chart?

##### 2. What is/are the insight(s) found from the chart?

3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

#### Chart - 2

In [ ]:
# Chart - 2 visualization code

##### 1. Why did you pick the specific chart?

##### 2. What is/are the insight(s) found from the chart?

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

#### Chart - 3

In [ ]:
# Chart - 3 visualization code

##### 1. Why did you pick the specific chart?

##### 2. What is/are the insight(s) found from the chart?

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

#### Chart - 4

In [ ]:
# Chart - 4 visualization code

##### 1. Why did you pick the specific chart?

##### 2. What is/are the insight(s) found from the chart?

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

#### Chart - 5

In [ ]:
# Chart - 5 visualization code

##### 1. Why did you pick the specific chart?

##### 2. What is/are the insight(s) found from the chart?

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

#### Chart - 6

In [ ]:
# Chart - 6 visualization code

##### 1. Why did you pick the specific chart?

##### 2. What is/are the insight(s) found from the chart?

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

#### Chart - 7

In [ ]:
# Chart - 7 visualization code

##### 1. Why did you pick the specific chart?

2. What is/are the insight(s) found from the chart?

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

#### Chart - 8

In [ ]:
# Chart - 8 visualization code

##### 1. Why did you pick the specific chart?

##### 2. What is/are the insight(s) found from the chart?

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

#### Chart - 9

In [ ]:
# Chart - 9 visualization code

##### 1. Why did you pick the specific chart?

##### 2. What is/are the insight(s) found from the chart?

#### Chart - 10

In [ ]:
# Chart - 10 visualization

1. Why did you pick the specific chart?

2. What is/are the insight(s) found from the chart?

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

## **5. Solution to Business Objective**

# **Conclusion**

### ***Hurrah! You have successfully completed your EDA Capstone Project !!!***